# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
    dns:
      - 127.0.0.1
      - 8.8.8.8
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole-rpi4.entrypoints=http"
      - "traefik.http.routers.pihole-rpi4.rule=Host(`pihole-rpi4.local.friedman.network`)"
      - "traefik.http.middlewares.pihole-rpi4-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.pihole-rpi4.middlewares=pihole-rpi4-https-redirect"
      - "traefik.http.routers.pihole-rpi4-secure.entrypoints=https"
      - "traefik.http.routers.pihole-rpi4-secure.rule=Host(`pihole-rpi4.local.friedman.network`)"
      - "traefik.http.routers.pihole-rpi4-secure.tls=true"
      - "traefik.http.routers.pihole-rpi4-secure.service=pihole-rpi4"
      - "traefik.http.services.pihole-rpi4.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
    networks: 
      - traefik-proxy
    restart: unless-stopped

networks:
  traefik-proxy:
    external: true
